In [1]:
import pandas as pd

La tabla NAPSI contiene los indicadores **NAil Psoriasis Severity Index** que se toman a cada paciente en cada cita.
Estos se toman dividiendo cada uña en cuatro cuadrantes y dos regiones (lecho/matriz). En cada cuadrante y región se califica la severidad con valores entre 0 y 4.  El indicador total se obtiene de sumar la calificación de todos los cuadrantes en todas las uñas del paciente. Así se obtiene un valor entre 0 y 160 = 4(calificación máxima)*4(extremidades)* 5(dedos)*2(regiones).

In [ ]:
df_NAPSI = pd.read_excel("Psoriasis/Napsi.xlsx")
print(df_NAPSI.columns)

In [4]:
df_NAPSI['Total'] = pd.to_numeric(df_NAPSI["Total"],errors='coerce')

In [5]:
df_NAPSI_v2 = df_NAPSI.groupby(["ID","Fecha"]).mean()
del df_NAPSI_v2[1]
del df_NAPSI_v2[2]
del df_NAPSI_v2[3]
del df_NAPSI_v2[4]
del df_NAPSI_v2[5]
del df_NAPSI_v2[6]
del df_NAPSI_v2[7]
del df_NAPSI_v2[8]
del df_NAPSI_v2[9]
del df_NAPSI_v2[10]
df_NAPSI_v2.reset_index(inplace=True)
df_NAPSI_v2

          ID               Fecha  Total
0     502369 2018-10-10 08:55:43   52.0
1     502369 2019-04-24 07:56:20   44.0
2     502369 2020-01-29 09:02:59   48.0
3     549122 2020-02-05 10:29:41    3.0
4     560770 2020-02-13 08:35:31   24.0
..       ...                 ...    ...
317  3453161 2020-05-14 15:18:43    2.0
318  3474392 2020-01-29 11:10:15    7.0
319  3475857 2020-01-24 15:08:58    5.0
320  3484934 2020-02-05 11:41:35    0.0
321  3489690 2019-07-29 09:55:24    7.0

[322 rows x 3 columns]

TypeError: 'Series' object is not callable

In [6]:
preguntas = pd.unique(df_NAPSI['Pregunta']).tolist()
indices = df_NAPSI_v2.index
df_NAPSI_v2["TOTAL"] = 0 
for p in preguntas:
    for k in [1,2,3,4,5,6,7,8,9,10]:
        Preguntak = p + " " + str(k)
        df_NAPSI_v2[Preguntak] = 0
        for ind_v2 in indices:
            ID = df_NAPSI_v2["ID"][ind_v2]
            Fecha = df_NAPSI_v2["Fecha"][ind_v2]
            ind_v1 = df_NAPSI[(df_NAPSI["ID"]==ID) & (df_NAPSI["Fecha"]==Fecha)  & (df_NAPSI["Pregunta"]==p)].index.tolist()
            if ind_v1:
                df_NAPSI_v2[Preguntak][ind_v2] = df_NAPSI[k][ind_v1]
        df_NAPSI_v2["TOTAL"] = df_NAPSI_v2["TOTAL"] + df_NAPSI_v2[Preguntak]
df_NAPSI_v2.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,ID,Fecha,Total,TOTAL,MANO -> MATRIZ 1,MANO -> MATRIZ 2,MANO -> MATRIZ 3,MANO -> MATRIZ 4,MANO -> MATRIZ 5,MANO -> MATRIZ 6,...,PIES -> LECHO 1,PIES -> LECHO 2,PIES -> LECHO 3,PIES -> LECHO 4,PIES -> LECHO 5,PIES -> LECHO 6,PIES -> LECHO 7,PIES -> LECHO 8,PIES -> LECHO 9,PIES -> LECHO 10
0,502369,2018-10-10 08:55:43,52.0,52,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
1,502369,2019-04-24 07:56:20,44.0,44,0,0,0,0,0,0,...,4,4,4,4,4,4,0,4,0,4
2,502369,2020-01-29 09:02:59,48.0,48,0,0,0,0,0,0,...,4,4,4,4,0,4,4,4,4,4
3,549122,2020-02-05 10:29:41,3.0,3,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,560770,2020-02-13 08:35:31,24.0,24,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Hay inconsistencias entre el Total reportado en la tabla original y el calculado a partir de la calificación de cada uña. Esto se observa también en EXCEL.

In [7]:
del df_NAPSI_v2["Total"]
df_NAPSI_v2.to_csv("NAPSI_DF.csv", index = False)