# Nutricion EDA

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

pd.options.display.max_rows = 20

In [13]:
%load_ext sql
#%sql postgresql://ds4a_demo_user:am3ricas@database-3.c2t89i7anl0r.us-east-1.rds.amazonaws.com/adventuretime
%sql postgresql://postgres:root@alejx2ex.asuscomm.com:9876/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(psycopg2.OperationalError) could not connect to server: No route to host
	Is the server running on host "alejx2ex.asuscomm.com" (191.89.49.87) and accepting
	TCP/IP connections on port 9876?

(Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://postgres:***@alejx2ex.asuscomm.com:9876/postgres'])

In [12]:
# Crete db connection
#engine = create_engine('sqlite:///helparma.db')
#engine = create_engine('postgresql://ds4a_demo_user:am3ricas@database-3.c2t89i7anl0r.us-east-1.rds.amazonaws.com/adventuretime')
engine = create_engine('postgresql://postgres:root@alejx2ex.asuscomm.com:9876/postgres')


def runQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

#def save_replace(df, table_name):
#    conn = engine.connect()
#    nutricion.to_sql(name=table_name, con=conn, if_exists="replace")
#    conn.close()

----

## Nutricion Analysis

In [10]:
%time nutricion = runQuery("select * from nutricion_y_dietetica")

OperationalError: (psycopg2.errors.AdminShutdown) terminating connection due to unexpected postmaster exit
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: select * from nutricion_y_dietetica]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [6]:
nutricion

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.72 µs

,ID,Fecha,Profesional,Frecuencia cita,Modalidad cita,Pregunta,Sí/No,Sede de atención
0,569115,08/01/2019,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUST...,NO,Almacentro Piso 11
1,569115,08/01/2019,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,SINDROME METABOLICO,NO,Almacentro Piso 11
2,569115,08/01/2019,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,OBESIDAD (IMC >30) SIN MEDICAMENTO DE AJUSTE,NO,Almacentro Piso 11
3,569115,08/01/2019,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,"Desnutrición IMC < 18,5",SI,Almacentro Piso 11
4,569115,08/01/2019,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,HbA1c >7,NO,Almacentro Piso 11
...,...,...,...,...,...,...,...,...
40831,901561,30/05/2020,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,HTA CONTROLADA,NO,Almacentro Piso 11
40832,901561,30/05/2020,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,DIABETES CONTROLADA,NO,Almacentro Piso 11
40833,901561,30/05/2020,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,ALTA POR NUTRICIONISTA,NO,Almacentro Piso 11
40834,901561,30/05/2020,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,ALTA POR NUTRICION,NO,Almacentro Piso 11
40835,901561,30/05/2020,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,OTRO MOTIVO,NO,Almacentro Piso 11

In [9]:
nutricion["Sede de atención"].fillna("Almacentro Piso 11", inplace=True)
nutricion["Frecuencia cita"] = nutricion["Frecuencia cita"].apply(lambda x: x.replace(" MESES", ""))
nutricion["Profesional"] = nutricion["Profesional"].apply(lambda x: x.upper())
nutricion["Pregunta"] = nutricion["Pregunta"].apply(lambda x: x.upper())
nutricion["Sede de atención"] = nutricion["Sede de atención"].apply(lambda x: x.upper())
nutricion["Modalidad cita"] = nutricion["Modalidad cita"].apply(lambda x: x.upper() if not pd.isnull(x) else "CONSULTA PRESENCIAL")
nutricion["ID"] = nutricion["ID"].apply(pd.to_numeric)
nutricion["Sí/No2"] = nutricion["Sí/No"].apply(lambda x: 0 if x == "NO" else 1)
nutricion.sample(10)

,ID,Fecha,Profesional,Frecuencia cita,Modalidad cita,Pregunta,Sí/No,Sede de atención,Sí/No2
39286,2462828,14/05/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,OBESIDAD (IMC >30) SIN MEDICAMENTO DE AJUSTE,NO,ALMACENTRO PISO 11,0
17636,2649044,30/11/2019,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,PACIENTES CON SOBREPESO (IMC 25-29),NO,ALMACENTRO PISO 11,0
14200,551979,16/10/2019,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,HTA NO CONTROLADA,SI,ALMACENTRO PISO 11,1
8227,1643170,14/08/2019,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,"DESNUTRICIÓN IMC < 18,5",NO,ALMACENTRO PISO 11,0
32690,2973538,05/03/2020,ANGELA PATRICIA MAMIAN BUITRON,3,CONSULTA PRESENCIAL,DISLIPIDEMA COLESTEROL TOTAL >200 TG >150,NO,CALI,0
14831,2013676,29/10/2019,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,HTA NO CONTROLADA,NO,ALMACENTRO PISO 11,0
2002,628864,20/03/2019,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,SIN MEDICAMENTO QUE REQUIERA AJUSTE,NO,ALMACENTRO PISO 11,0
38447,2507767,02/05/2020,ANGELA TATIANA POPÓ ARCE,6,CONSULTA PRESENCIAL,ALTA POR NUTRICION,NO,CALI,0
24558,1375097,13/02/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,OTRO MOTIVO,NO,ALMACENTRO PISO 11,0
38043,1564519,27/04/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUST...,NO,ALMACENTRO PISO 11,0

In [10]:
new_nutricion = nutricion[["ID", "Fecha", "Pregunta", "Sí/No2", "Sede de atención"]].pivot_table(index=["ID", "Fecha"], columns="Pregunta", values="Sí/No2", aggfunc='first').fillna(0).reset_index()
new_nutricion

Pregunta,ID,Fecha,ALTA POR NUTRICION,ALTA POR NUTRICIONISTA,"DESNUTRICIÓN IMC < 18,5",DIABETES CONTROLADA,DISLIPIDEMA COLESTEROL TOTAL >200 TG >150,HBA1C >7,HTA CONTROLADA,HTA NO CONTROLADA,OBESIDAD (IMC >30) SIN MEDICAMENTO DE AJUSTE,OTRO MOTIVO,PACIENTES CON SOBREPESO (IMC 25-29),SIN MEDICAMENTO QUE REQUIERA AJUSTE,SINDROME METABOLICO,TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUSTE POR PESO CON SOBREPESO U OBESIDAD
0,502369,07/11/2018,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,502369,09/10/2019,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,502369,12/04/2019,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,502369,15/07/2019,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,502369,29/01/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2140,3499636,02/08/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2141,3499636,26/02/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2142,3499636,30/01/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2143,3499725,19/06/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2144,3499725,20/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [11]:
sedes = nutricion[["ID", "Fecha", "Profesional", "Frecuencia cita", "Modalidad cita", "Sede de atención"]].drop_duplicates(["ID", "Fecha"])
sedes

,ID,Fecha,Profesional,Frecuencia cita,Modalidad cita,Sede de atención
0,569115,08/01/2019,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
14,2001949,08/01/2019,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
28,2910702,08/01/2019,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
42,1359434,08/01/2019,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
56,2489610,08/01/2019,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
...,...,...,...,...,...,...
40766,1611748,29/05/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
40780,561583,29/05/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
40794,1938506,30/05/2020,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
40808,1746277,30/05/2020,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
40822,901561,30/05/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11

In [157]:
merge_nutricion.to_csv('Nutricion.csv', sep=",")