# Nutricion EDA

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

#pd.options.display.max_rows = 20

In [2]:
%load_ext sql
#%sql postgresql://ds4a_demo_user:am3ricas@database-3.c2t89i7anl0r.us-east-1.rds.amazonaws.com/adventuretime
#%sql postgresql://postgres:root@alejx2ex.asuscomm.com:9876/postgres
%sql postgresql://postgres:root2010@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres

In [13]:
# Crete db connection
#engine = create_engine('sqlite:///helparma.db')
#engine = create_engine('postgresql://ds4a_demo_user:am3ricas@database-3.c2t89i7anl0r.us-east-1.rds.amazonaws.com/adventuretime')
#engine = create_engine('postgresql://postgres:root@alejx2ex.asuscomm.com:9876/postgres')
engine = create_engine('postgresql://postgres:root2010@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres')
conn = engine.connect()

def runQuery(sql):
    result = conn.execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

def save_replace(df, table_name):
    df.to_sql(name=table_name, con=conn, if_exists="replace", method="multi")

----

## Nutricion Analysis

In [4]:
%time nutricion = runQuery("select * from nutricion_y_dietetica")

CPU times: user 150 ms, sys: 17.5 ms, total: 168 ms
Wall time: 2.32 s

In [5]:
nutricion.sample(5)

,ID,Fecha,Profesional,Frecuencia cita,Modalidad cita,Pregunta,Sí/No,Sede de atención
13902,989966,08/10/2019,Ketty Octaviana Davila Cuartas,3,CONSULTA PRESENCIAL,OTRO MOTIVO,NO,Almacentro Piso 11
12445,2204303,09/11/2018,Ketty Octaviana Davila Cuartas,6 MESES,CONSULTA PRESENCIAL,"Desnutrición IMC < 18,5",NO,Almacentro Piso 11
13949,2048792,09/10/2019,Ketty Octaviana Davila Cuartas,4,CONSULTA PRESENCIAL,HbA1c >7,NO,Almacentro Piso 11
34848,2567058,27/03/2020,Ketty Octaviana Davila Cuartas,3 MESES,CONSULTA PRESENCIAL,SIN MEDICAMENTO QUE REQUIERA AJUSTE,NO,Almacentro Piso 11
2027,1625963,20/03/2019,Ketty Octaviana Davila Cuartas,4,CONSULTA PRESENCIAL,Dislipidema Colesterol total >200 TG >150,NO,Almacentro Piso 11

In [6]:
nutricion["Sede de atención"].fillna("Almacentro Piso 11", inplace=True)
nutricion["Frecuencia cita"] = nutricion["Frecuencia cita"].apply(lambda x: x.replace(" MESES", ""))
nutricion["Profesional"] = nutricion["Profesional"].apply(lambda x: x.upper())
nutricion["Pregunta"] = nutricion["Pregunta"].apply(lambda x: x.upper())
nutricion["Sede de atención"] = nutricion["Sede de atención"].apply(lambda x: x.upper())
nutricion["Modalidad cita"] = nutricion["Modalidad cita"].apply(lambda x: x.upper() if not pd.isnull(x) else "CONSULTA PRESENCIAL")
nutricion["ID"] = nutricion["ID"].apply(pd.to_numeric)
nutricion["Sí/No2"] = nutricion["Sí/No"].apply(lambda x: 0 if x == "NO" else 1)
nutricion.sample(10)

,ID,Fecha,Profesional,Frecuencia cita,Modalidad cita,Pregunta,Sí/No,Sede de atención,Sí/No2
39995,2433742,23/05/2020,ANGELA TATIANA POPÓ ARCE,3,CONSULTA PRESENCIAL,OTRO MOTIVO,NO,CALI,0
1333,2820816,26/02/2019,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUST...,NO,ALMACENTRO PISO 11,0
17910,1815602,03/12/2019,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,SINDROME METABOLICO,NO,ALMACENTRO PISO 11,0
33575,2407402,12/03/2020,ANGELA PATRICIA MAMIAN BUITRON,3,CONSULTA PRESENCIAL,SIN MEDICAMENTO QUE REQUIERA AJUSTE,NO,CALI,0
36807,2716014,16/04/2020,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,HTA CONTROLADA,SI,ALMACENTRO PISO 11,1
39497,613607,18/05/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,"DESNUTRICIÓN IMC < 18,5",SI,ALMACENTRO PISO 11,1
29437,1487112,18/02/2020,KETTY OCTAVIANA DAVILA CUARTAS,0,ALTA DEL PROGRAMA,SINDROME METABOLICO,NO,ALMACENTRO PISO 11,0
31940,2079194,29/02/2020,ANGELA TATIANA POPÓ ARCE,3,CONSULTA PRESENCIAL,OTRO MOTIVO,NO,CALI,0
19807,1579668,20/12/2019,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,ALTA POR NUTRICION,NO,ALMACENTRO PISO 11,0
26057,2897439,09/01/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,DISLIPIDEMA COLESTEROL TOTAL >200 TG >150,NO,ALMACENTRO PISO 11,0

In [7]:
new_nutricion = nutricion[["ID", "Fecha", "Pregunta", "Sí/No2", "Sede de atención"]].pivot_table(index=["ID", "Fecha"], columns="Pregunta", values="Sí/No2", aggfunc='first').fillna(0).reset_index()
new_nutricion

Pregunta,ID,Fecha,ALTA POR NUTRICION,ALTA POR NUTRICIONISTA,"DESNUTRICIÓN IMC < 18,5",DIABETES CONTROLADA,DISLIPIDEMA COLESTEROL TOTAL >200 TG >150,HBA1C >7,HTA CONTROLADA,HTA NO CONTROLADA,OBESIDAD (IMC >30) SIN MEDICAMENTO DE AJUSTE,OTRO MOTIVO,PACIENTES CON SOBREPESO (IMC 25-29),SIN MEDICAMENTO QUE REQUIERA AJUSTE,SINDROME METABOLICO,TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUSTE POR PESO CON SOBREPESO U OBESIDAD
0,502369,07/11/2018,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,502369,09/10/2019,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,502369,12/04/2019,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,502369,15/07/2019,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,502369,29/01/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2140,3499636,02/08/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2141,3499636,26/02/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2142,3499636,30/01/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2143,3499725,19/06/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2144,3499725,20/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [8]:
sedes = nutricion[["ID", "Fecha", "Profesional", "Frecuencia cita", "Modalidad cita", "Sede de atención"]].drop_duplicates(["ID", "Fecha"])
sedes.sample(10)

,ID,Fecha,Profesional,Frecuencia cita,Modalidad cita,Sede de atención
1488,1576340,27/02/2019,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
9052,1890112,31/08/2019,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
19499,2614177,17/12/2019,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
2373,1720049,02/04/2019,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
15214,3240997,05/11/2019,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
38226,1624665,29/04/2020,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
8280,2163882,16/08/2019,KETTY OCTAVIANA DAVILA CUARTAS,2,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
35585,1503715,02/04/2020,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
21512,532504,16/01/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
21737,533436,18/01/2020,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11

In [9]:
new_nutricion = new_nutricion.merge(
    sedes,
    on=["ID", "Fecha"],
    how="inner"
)
print(new_nutricion.shape)
new_nutricion.sample(5)

(2145, 20)

,ID,Fecha,ALTA POR NUTRICION,ALTA POR NUTRICIONISTA,"DESNUTRICIÓN IMC < 18,5",DIABETES CONTROLADA,DISLIPIDEMA COLESTEROL TOTAL >200 TG >150,HBA1C >7,HTA CONTROLADA,HTA NO CONTROLADA,OBESIDAD (IMC >30) SIN MEDICAMENTO DE AJUSTE,OTRO MOTIVO,PACIENTES CON SOBREPESO (IMC 25-29),SIN MEDICAMENTO QUE REQUIERA AJUSTE,SINDROME METABOLICO,TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUSTE POR PESO CON SOBREPESO U OBESIDAD,Profesional,Frecuencia cita,Modalidad cita,Sede de atención
1660,2847413,08/04/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,KETTY OCTAVIANA DAVILA CUARTAS,1,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
797,1555860,03/10/2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
2106,3482553,06/08/2019,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
327,948197,04/03/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
602,1347761,16/03/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,6,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
1778,3042272,12/03/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
726,1464030,11/09/2019,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
1829,3096077,13/04/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
639,1370193,04/05/2020,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
1616,2789488,27/11/2019,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11

----

## Save the cleaned dataframe to new table

1. Rename the columns excluding parenthesis

In [20]:
new_nutricion = new_nutricion.rename(columns={"OBESIDAD (IMC >30) SIN MEDICAMENTO DE AJUSTE": "OBESIDAD IMC >30 SIN MEDICAMENTO DE AJUSTE", "PACIENTES CON SOBREPESO (IMC 25-29)": "PACIENTES CON SOBREPESO IMC 25-29"})

Index(['ID', 'Fecha', 'ALTA POR NUTRICION', 'ALTA POR NUTRICIONISTA',
       'DESNUTRICIÓN IMC < 18,5', 'DIABETES CONTROLADA',
       'DISLIPIDEMA COLESTEROL TOTAL >200 TG >150', 'HBA1C >7',
       'HTA CONTROLADA', 'HTA NO CONTROLADA',
       'OBESIDAD IMC >30 SIN MEDICAMENTO DE AJUSTE', 'OTRO MOTIVO',
       'PACIENTES CON SOBREPESO IMC 25-29',
       'SIN MEDICAMENTO QUE REQUIERA AJUSTE', 'SINDROME METABOLICO',
       'TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUSTE POR PESO CON SOBREPESO U OBESIDAD',
       'Profesional', 'Frecuencia cita', 'Modalidad cita', 'Sede de atención'],
      dtype='object')

In [22]:
new_nutricion.dtypes

ID                                                                                     int64
Fecha                                                                                 object
ALTA POR NUTRICION                                                                   float64
ALTA POR NUTRICIONISTA                                                               float64
DESNUTRICIÓN IMC < 18,5                                                              float64
DIABETES CONTROLADA                                                                  float64
DISLIPIDEMA COLESTEROL TOTAL >200 TG >150                                            float64
HBA1C >7                                                                             float64
HTA CONTROLADA                                                                       float64
HTA NO CONTROLADA                                                                    float64
OBESIDAD IMC >30 SIN MEDICAMENTO DE AJUSTE                                           float64
OTRO MOTIVO                                                                          float64
PACIENTES CON SOBREPESO IMC 25-29                                                    float64
SIN MEDICAMENTO QUE REQUIERA AJUSTE                                                  float64
SINDROME METABOLICO                                                                  float64
TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUSTE POR PESO CON SOBREPESO U OBESIDAD    float64
Profesional                                                                           object
Frecuencia cita                                                                       object
Modalidad cita                                                                        object
Sede de atención                                                                      object
dtype: object

2. drop any table with the name I want to use *warning*

In [21]:
%sql drop table nutricion_y_dietetica_2;

 * postgresql://postgres:***@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres
Done.

[]

3. Create the new table

In [23]:
%%sql
create table nutricion_y_dietetica_2 (
    ID                                                                                     integer,
    Fecha                                                                                  timestamp,
    "ALTA POR NUTRICION"                                                                   integer,
    "ALTA POR NUTRICIONISTA"                                                               integer,
    "DESNUTRICIÓN IMC < 18,5"                                                              integer,
    "DIABETES CONTROLADA"                                                                  integer,
    "DISLIPIDEMA COLESTEROL TOTAL >200 TG >150"                                            integer,
    "HBA1C >7"                                                                             integer,
    "HTA CONTROLADA"                                                                       integer,
    "HTA NO CONTROLADA"                                                                    integer,
    "OBESIDAD IMC gt 30 SIN MEDICAMENTO DE AJUSTE"                                         integer,
    "OBESIDAD IMC >30 SIN MEDICAMENTO DE AJUSTE"                                         integer,
    "OTRO MOTIVO"                                                                          integer,
    "PACIENTES CON SOBREPESO IMC 25-29"                                                  integer,
    "SIN MEDICAMENTO QUE REQUIERA AJUSTE"                                                  integer,
    "SINDROME METABOLICO"                                                                  integer,
    "TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUSTE POR PESO CON SOBREPESO U OBESIDAD"    integer,
    "Profesional"                                                                            text,
    "Frecuencia cita"                                                                        text,
    "Modalidad cita"                                                                         text,
    "Sede de atención"                                                                       text
);

 * postgresql://postgres:***@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres
Done.

[]

3. Save the table on Postgres

In [24]:
 save_replace(new_nutricion, "nutricion_y_dietetica_2")

4. Test the information was uploaded

In [25]:
%time nutricion2 = runQuery("select * from nutricion_y_dietetica_2")

CPU times: user 25.2 ms, sys: 83 µs, total: 25.3 ms
Wall time: 728 ms

In [26]:
nutricion2.sample(5)

,index,ID,Fecha,ALTA POR NUTRICION,ALTA POR NUTRICIONISTA,"DESNUTRICIÓN IMC < 18,5",DIABETES CONTROLADA,DISLIPIDEMA COLESTEROL TOTAL >200 TG >150,HBA1C >7,HTA CONTROLADA,...,OBESIDAD IMC >30 SIN MEDICAMENTO DE AJUSTE,OTRO MOTIVO,PACIENTES CON SOBREPESO IMC 25-29,SIN MEDICAMENTO QUE REQUIERA AJUSTE,SINDROME METABOLICO,TRATAMIENTO CON MEDICAMENTO QUE REQUIERA AJUSTE POR PESO CON SO,Profesional,Frecuencia cita,Modalidad cita,Sede de atención
415,414,1075147,27/05/2020,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
578,577,1315188,02/04/2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,KETTY OCTAVIANA DAVILA CUARTAS,4,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
816,816,1564519,27/04/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
489,488,1173070,31/08/2019,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11
1424,1424,2501453,11/12/2019,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,KETTY OCTAVIANA DAVILA CUARTAS,3,CONSULTA PRESENCIAL,ALMACENTRO PISO 11