In [2]:
## Sabana

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import seaborn as sns
import matplotlib.pyplot       as plt
#pd.options.display.max_rows = 20

In [4]:
%load_ext sql
#%sql postgresql://ds4a_demo_user:am3ricas@database-3.c2t89i7anl0r.us-east-1.rds.amazonaws.com/adventuretime
#%sql postgresql://postgres:root@alejx2ex.asuscomm.com:9876/postgres
%sql postgresql://postgres:root2010@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres

In [5]:
# Crete db connection
#engine = create_engine('sqlite:///helparma.db')
#engine = create_engine('postgresql://ds4a_demo_user:am3ricas@database-3.c2t89i7anl0r.us-east-1.rds.amazonaws.com/adventuretime')
#engine = create_engine('postgresql://postgres:root@alejx2ex.asuscomm.com:9876/postgres')
engine = create_engine('postgresql://postgres:root2010@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres')
conn = engine.connect()

def runQuery(sql):
    result = conn.execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [13]:
%%time
df = runQuery("""
SELECT *
FROM 
    consulta_df consulta  
left join resultados_generales_clean_df resultados on (consulta.id = resultados.id and consulta.ano = resultados.ano and consulta.mes = resultados.mes and consulta.dia = resultados.dia)
left join bsa_df bsa on (consulta.id = bsa.id and consulta.ano = bsa.ano and consulta.mes = bsa.mes and consulta.dia = bsa.dia)
left join calidadvida_oms_df calidadvida on (consulta.id = calidadvida.id and consulta.ano = calidadvida.ano and consulta.mes = calidadvida.mes and consulta.dia = calidadvida.dia)
left join fenotipos_df fenotipos on (consulta.id = fenotipos.id and consulta.ano = fenotipos.ano and consulta.mes = fenotipos.mes and consulta.dia = fenotipos.dia)
left join napsi_df napsi on (consulta.id = napsi.id and consulta.ano = napsi.ano and consulta.mes = napsi.mes and consulta.dia = napsi.dia)
left join nutricion_y_dietetica_df nutricion on (consulta.id = nutricion.id and consulta.ano = nutricion.anno and consulta.mes = nutricion.mes and consulta.dia = nutricion.dia)
left join pga_df pga on (consulta.id = pga.id and consulta.ano = pga.ano and consulta.mes = pga.mes and consulta.dia = pga.dia)
left join psicologia_df psicologia on (consulta.id = psicologia.id and consulta.ano = psicologia.ano and consulta.mes = psicologia.mes and consulta.dia = psicologia.dia)
left join seguim_farmacoterapeutico_04072020_df seguim on (consulta.id = seguim.id and consulta.ano = seguim.ano and consulta.mes = seguim.mes and consulta.dia = seguim.dia)
left join terapia_fisica_df terapia on (consulta.id = terapia.id and consulta.ano = terapia.ano and consulta.mes = terapia.mes and consulta.dia = terapia.dia)
left join terapias_clean_df medicamentos on (consulta.id = medicamentos.id and consulta.ano = medicamentos.ano and consulta.mes = medicamentos.mes and consulta.dia = medicamentos.dia)
--where consulta.id =502369 -- id de prueba
--LIMIT 100
""")

CPU times: user 6.51 s, sys: 277 ms, total: 6.78 s
Wall time: 30.1 s

In [12]:
df.shape

(84316, 268)