In [9]:
## Sabana

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import seaborn as sns
import matplotlib.pyplot       as plt
#pd.options.display.max_rows = 20

In [2]:
%load_ext sql
%sql postgresql://postgres:root2010@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres

In [3]:
# Crete db connection
engine = create_engine('postgresql://postgres:root2010@postgres.cfj83pcaofse.us-east-1.rds.amazonaws.com/postgres')
conn = engine.connect()

def runQuery(sql):
    result = conn.execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [10]:
%%time
df = runQuery("""
SELECT *
FROM 
    consulta_df consulta  
left join resultados_generales_clean_df resultados on (consulta.id = resultados.id and consulta.ano = resultados.ano and consulta.mes = resultados.mes and consulta.dia = resultados.dia)
left join bsa_df bsa on (consulta.id = bsa.id and consulta.ano = bsa.ano and consulta.mes = bsa.mes and consulta.dia = bsa.dia)
left join calidadvida_oms_df calidadvida on (consulta.id = calidadvida.id and consulta.ano = calidadvida.ano and consulta.mes = calidadvida.mes and consulta.dia = calidadvida.dia)
left join fenotipos_df fenotipos on (consulta.id = fenotipos.id and consulta.ano = fenotipos.ano and consulta.mes = fenotipos.mes and consulta.dia = fenotipos.dia)
left join napsi_df napsi on (consulta.id = napsi.id and consulta.ano = napsi.ano and consulta.mes = napsi.mes and consulta.dia = napsi.dia)
left join nutricion_y_dietetica_df nutricion on (consulta.id = nutricion.id and consulta.ano = nutricion.anno and consulta.mes = nutricion.mes and consulta.dia = nutricion.dia)
left join pga_df pga on (consulta.id = pga.id and consulta.ano = pga.ano and consulta.mes = pga.mes and consulta.dia = pga.dia)
left join psicologia_df psicologia on (consulta.id = psicologia.id and consulta.ano = psicologia.ano and consulta.mes = psicologia.mes and consulta.dia = psicologia.dia)
left join seguim_farmacoterapeutico_04072020_df seguim on (consulta.id = seguim.id and consulta.ano = seguim.ano and consulta.mes = seguim.mes and consulta.dia = seguim.dia)
left join terapia_fisica_df terapia on (consulta.id = terapia.id and consulta.ano = terapia.ano and consulta.mes = terapia.mes and consulta.dia = terapia.dia)
left join terapias_clean_df medicamentos on (consulta.id = medicamentos.id and consulta.ano = medicamentos.ano and consulta.mes = medicamentos.mes and consulta.dia = medicamentos.dia)
left join nuevo_pasi_clean_df pasi on (consulta.id = pasi.id and consulta.ano = pasi.ano and consulta.mes = pasi.mes and consulta.dia = pasi.dia)
left join riesgo_asociado_df riesgo on (consulta.id = riesgo.id and consulta.ano = riesgo.ano and consulta.mes = riesgo.mes and consulta.dia = riesgo.dia)
--where consulta.id =502369 -- id de prueba
--LIMIT 100
""")

CPU times: user 906 ms, sys: 219 ms, total: 1.12 s
Wall time: 5.44 s

In [5]:
df.shape

(15780, 313)

In [6]:
df

,Unnamed: 0,id,fecha_consulta,sexo_paciente,fecha_nacimiento,diagnostico_principal,imc,ano,mes,dia,...,pasi -> > 15 sin tratamiento previo,pasi -> entre 10-15,sindrome metabolico -> presencia de sindrome metabolico complet,terapia biologica -> medicamento que requiere ajuste de dosis p,terapia biologica -> tratamiento activo,terapia sistematica previa -> tratamiento previo con fallo tera,terapia sistemica de primera linea -> tratamiento activo,ano,mes,dia
0,4257,501053,2019-03-04,f,1963-03-03,l408,None,2019,3,4,...,no,no,no,no,no,si,no,2019.0,3.0,4.0
1,9595,501053,2019-11-14,f,1963-03-03,l400,21.3,2019,11,14,...,None,None,None,None,None,None,None,NaN,NaN,NaN
2,13877,501053,2020-02-12,f,1963-03-03,l400,None,2020,2,12,...,None,None,None,None,None,None,None,NaN,NaN,NaN
3,14669,501053,2020-02-28,f,1963-03-03,l400,21.3,2020,2,28,...,None,None,None,None,None,None,None,NaN,NaN,NaN
4,10078,501389,2019-11-29,f,1950-02-13,l400,24.6,2019,11,29,...,None,None,None,None,None,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15775,20496,NaN,2020-05-15,m,1987-04-06,l400,22.1,2020,5,15,...,None,None,None,None,None,None,None,NaN,NaN,NaN
15776,22177,NaN,2020-05-20,f,1988-07-09,l732,None,2020,5,20,...,None,None,None,None,None,None,None,NaN,NaN,NaN
15777,20959,NaN,2020-05-27,f,1988-06-17,l408,29.3,2020,5,27,...,None,None,None,None,None,None,None,NaN,NaN,NaN
15778,21069,NaN,2020-05-28,m,1953-01-23,l400,23.1,2020,5,28,...,None,None,None,None,None,None,None,NaN,NaN,NaN
15779,21141,NaN,2020-05-29,f,2001-03-15,l400,None,2020,5,29,...,None,None,None,None,None,None,None,NaN,NaN,NaN